/* Website Styles */
* {
  font-size: 100%;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

body {
  color: goldenrod;
  font-size: 30px;
  font-family: tahoma, trebuchet ms;
  background-image: url(images/cushion.png);
}

.container0 {
  padding-bottom: 50px;
  padding-top: 50px;
}

img {
  border: 6px solid goldenrod;
}

.container1 {
  padding-left: 100px;
  margin: 10px auto;
}

.container2 {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  padding-left: 400px;
  margin: auto;
}

.container3 {
  display: grid;
  grid-template-columns: 20% 20% 20%;
  padding-left: 400px;
}

header {
  border-bottom: 5px dashed goldenrod;
  text-align: center;
  padding: 50px;
}

header h1 {
  font-family: nerko one;
  font-size: 165px;
  color: goldenrod;
  padding: 25px;
}

header p {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

section {
  font-size: 70px;
  color: goldenrod;
  font-family: trebuchet ms;
}

.links {
  border: 10px solid white;
  padding: 2px;
  margin: 2px;
  width: 50%;
  text-align: center;
  font-family: tahoma;
}

.trap {
  font-size: 20px;
}

section h2 {
  text-align: center;
  color: white;
  padding-top: 30px;
}

section p {
  text-align: center;
  font-size: 40px;
  margin: 50px;
}

footer {
  color: goldenrod;
  font-family: tahoma;
  font-size:20px;
}

a:link,
a:focus,
a:active {
  text-decoration: none;
  color: goldenrod;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: goldenrod;
}

footer {
  text-align: center;
  color: goldenrod;
  font-size: 50px;
  font-family: trebuchet ms;
  padding: 75px;
}
